.hidden { display: none; }
.error {
    display: none;
    padding: 100px;
    color: red;
}
td a img.avatar {
    margin-right: 2px;
    margin-bottom: 2px;
}
.cloak {
   padding: 10px;
   height: 100%;
   width: 100%;
}
.cloak p { text-align:center; }
a.resolved { text-decoration: line-through !important; }
img.avatar {
    border-radius: 3px;
    width: 24px;
    height: 24px;
}
.count-comments {
    font-size: 80%;
}
.good {
    color: green;
}
.bad {
    color: red;
}
.maybe {
    color: orange;
}
footer {
    font-size: 70%;
}
footer p {
    text-align: center;
}

table.expanded td {
    font-size: 80%;
}

.no-open-pulls {
    font-style: italic;
}
.group {
    margin-bottom: 40px;
}
.group table.table {
    margin-bottom: 5px;
}

a.closer {
    color: #999;
}
a.closer:hover {
    color: #333;
}

/* minimum widths needed when working with multiple tables */
table.multiple th.bug {
    width: 73px;
}
table.multiple th.last-updated {
    width: 103px;
}
table.multiple th.last-actor {
    width: 80px;
}
table.multiple th.people {
    width: 104px;
}
table.multiple th.assigned {
    width: 88px;
}
table.multiple th.state {
    width: 30px;
}
table.multiple th.changes {
    width: 160px;
}

p.table-foot-note {
    text-align: right;
    font-size: 80%;
}

p.diff-stats {
    font-weight: bold;
    text-align: right;
    font-size: 80%;
    margin-right: 16px;
}

tr.draft {
    color: #999;
    background-color: #eee;
}

tr.draft a {
    color: #7bb2e1;
}

span.draft {
    background-color: #999;
    color: #fff;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 12px;
}

td.changes a {
    color: black;
}
td.labels strong {
    display: inline-block;
    padding: 3px 4px;
    font-size: 11px;
    font-weight: bold;
    line-height: 1;
    color: white;
    border-radius: 2px;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.12) inset;
}

@font-face{
  font-family:'octicons';
  src:url("/static/fonts/octicons.eot");
  src:url("/static/fonts/octicons.eot#iefix") format("embedded-opentype"),
  url("/static/fonts/octicons.woff") format("woff"),
  url("/static/fonts/octicons.ttf") format("truetype"),
  url("/static/fonts/octicons.svg#octicons") format("svg");
  font-weight:normal;
  font-style:normal
}

.octicon {
    font: 16px/1 octicons;
    display: inline-block;
    text-decoration: none;
}
.octicon-git-pull-request:before{content:'\f009'}
.octicon-comment:before{content:'\f02b'}
.octicon-git-commit:before{content:'\f01f'}
.octicon-x:before{content:'\f081'}
.octicon-x{color:red}
.octicon-check:before{content:'\f03a'}
.octicon-check{color:green}
.octicon-hourglass:before{content:'\f09e'}
.octicon-question:before {content: '\f02c'}
.octicon-diff:before {content: '\f04d' }

.blinking {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
